.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #D9D9D9;
	padding-inline: 360px;
	color: #000000;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
}

.menu {
	display: flex;
	gap: 60px;
}


@media screen and (max-width: 1200px) {
	.header {
		padding-inline: 20px;
	}
}

